.signup-container {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: var(--sp-tens2);
  width: 38rem;
}

.signup-heading {
  text-align: center;
}

.signup-container .btn-primary {
  margin-top: var(--sp-fractions2);
}

.signup-msg-error {
  text-align: center;
  color: var(--clr-danger);
}

.hide {
  opacity: 0;
}
