.signup-container {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: var(--sp-tens2);
  width: 38rem;
  transition: background-color 0.3s;
}

.signup-container.dark {
  background-color: var(--clr-black);
}

.signup-heading {
  text-align: center;
}

.signup-container .btn-primary {
  margin-top: var(--sp-fractions2);
}

.signup-msg-error {
  text-align: center;
  color: var(--clr-danger);
}

.hide {
  opacity: 0;
}

.user-greeting-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--f-fiftys);
  font-weight: var(--fwt-bold);
  line-height: var(--sp-eightys);
}
