@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

@import url("https://minnal-ui.netlify.app/styles.css");

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --clr-primary: #20c997;
  --clr-primary-hover: #199d76;
}

html,
body,
#root,
.app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

/* || HEADER || */
.header {
  display: flex;
  height: var(--sp-sixtys);
  align-items: center;
  padding: 0 var(--sp-fourtys);
  background-color: var(--clr-primary);
}

.header-brand {
  font-family: "Monoton", cursive;
  font-weight: bold;
  font-size: var(--f-twentys2);
  letter-spacing: var(--sp-fractions1);
}

.header-toggle-theme-btn {
  margin-left: auto;
  color: var(--clr-black);
  font-size: var(--f-twentys1);
}

.header-toggle-theme-btn:hover {
  color: var(--clr-black);
}

/* || MAIN || */
.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sp-fourtys);
}
